[2015-03-22 17:21] antonkulaga opened #1 "publish to sonatype or bintray"
Please, publish to either sonatype or bintray so people will be able to use your lib as dependency in sbt/maven/gradle

[2015-03-23 19:03] jbytecode commented on #1
ok, would you like to join and make these stuff?

[2015-03-24 02:29] paul150792 commented on #1
if antonkulaga dosen't want to join, I'll do it today.

[2015-03-24 11:36] jbytecode commented on #1
Ok  @paul150792, this job is yours. Lets do it.

@antonkulaga is also welcome for performing other stuff.

[2015-03-31 19:39] stevensotelo opened #2 "problem with parse in utf-8"
Your code has problems when a temp file "Routput" has special character with accents. I found this error and I want to contribute to fix it. can you invite me to contribute to this repository?

[2015-03-31 19:46] jbytecode commented on #2
Okay. Welcome!

[2015-03-31 19:47] jbytecode commented on #1
Was this issue totaly solved and tested?
If yes, we can close it.

[2015-03-31 20:15] paul150792 commented on #1
Yes, it's solved and tested.
and with each release I will update it on the sonatype server

[2015-03-31 20:15] #1 closed

[2015-03-31 20:18] jbytecode commented on #1
Thank you Paul

[2015-03-31 20:20] jbytecode commented on #2
Hi Steven,
After adding your code and getting all tests passed we can close this issue.
Thank you in advance

[2015-03-31 21:02] stevensotelo commented on #2
Thanks to you Satman, It was upload already.

[2015-03-31 21:10] jbytecode commented on #2
Thank you for your contribution.
Stay in touch

[2015-07-14 17:19] choweiyuan opened #3 "publish to maven central"
Can this be published to maven central?

[2015-07-21 01:36] ushulau opened #4 "maven example gives 401 Unauthorized"
Failed to collect dependencies at org.expr.rcaller:RCaller:jar:2.6.0.3: Failed to read artifact descriptor for org.expr.rcaller:RCaller
:jar:2.6.0.3: Could not transfer artifact org.expr.rcaller:RCaller:pom:2.6.0.3 from/to sonatype-nexus-snapshots (https://oss.sonatype.org/service/local/staging/deploy/maven2/): Not authorized , ReasonPhrase:Unauthorized. -> [Help 1]

Could this be published somewh

[2015-09-22 12:39] carlgzuora commented on #4
I'm getting the same error

[2015-10-26 10:49] Hoeze commented on #4
+1
Would be great if this could be fixed

[2015-12-28 13:29] TomDePauw opened #6 "R can be called without using the path to R"
On Linux and Mac we can use R and Rscript from the commandline. No need to specify the path like /usr/bin/R
This way changing between OS does not affect the application.

Checking that the files exists breaks this functionality. Because java does not see executables as files.

this breaks switching between mac and linux:

        File file = new File(RExecutable);
        if (!file.exists()) {

[2015-12-30 07:28] paulcurcean commented on #3
RCaller was successfully published to maven central:
http://mvnrepository.com/artifact/com.github.jbytecode/RCaller/2.8

[2015-12-30 07:28] #3 closed

[2015-12-30 07:28] paulcurcean commented on #4
It should work now. The Rcaller was published to maven central:
http://mvnrepository.com/artifact/com.github.jbytecode/RCaller/2.8

[2015-12-30 07:28] #4 closed

[2016-01-17 00:38] paulcurcean commented on #6
doing that, will start a R process in your terminal, but we can't start the R process like this in our library.

[2016-01-17 00:38] #6 closed

[2016-01-18 08:06] TomDePauw commented on #6
It works if you remove the !file.exists() check. I think the library is exactly made so you can use it like that. I wrote code to not do the file test and it works for me. Also in previous versions of Rcaller it did not do the file check, so the library used to work like that.

[2016-01-22 13:29] paulcurcean commented on #6
but does this change bring an improvement to the library?

[2016-01-22 13:36] TomDePauw commented on #6
Its the only way to get the library to work on osx and linux without having to change environment settings. When switching between develop (osx) and build server/production (linux). Also now there is no support for osx in the library.

[2016-01-22 13:41] paulcurcean commented on #6
for Linux is working the way it is (I use Linux).
If somebody removes the symbolic link "R", your approach it won't work anymore.

But if you're positive sure that it will work, make a pull request.

[2016-04-08 15:30] basaldella opened #8 "Exception when variable names contains '&' character"
When a variable name contains an R character and must be returned by ```runAndReturnResult()```, the following exception occours:

[code]

Example: suppose I have a CSV file named ```candidates.csv``` containing a row like:
[code]

And a variable named ```model``` in a file called ```model.RData``` to be used with R's ```predict``` function. If I run the following code inside RCaller:
[code]

And

[2016-04-14 05:04] jbytecode commented on #8
This issue is solved in commit

https://github.com/jbytecode/rcaller/commit/e6f39725a9e8d2b17da0e0d281ca05f5a068c1af

and the test file UTF8Test.java includes a test which is similar to your example:

@Test
    public void VariableNameContainsAndCharacterTest() throws IOException{
        RCode code = new RCode();
        RCaller caller = new RCaller();
        Globals.detect_current_rscript();

[2016-04-14 10:23] basaldella commented on #8
Yes, I tested and it on my code and works fine. Small question: when will 2.9 be uploaded to Maven central?

Thanks for the quick fix!

[2016-04-14 12:12] jbytecode commented on #8
Ok @basaldella , we can close the issue then.

The version 2.9 will not be uploaded, we plan to jump to revision 3.0 because we add remarkable changes to RCaller, including the javax.script support in which the Java community can perform R jobs in a way similar to calling other scripting languages such as Javascript, python, etc. by means of passing data from R to Java and vice versa. Version 3.0

[2016-04-14 12:13] #8 closed

[2016-08-29 15:01] dieresys opened #11 "Error in runiversal.r when running some code in Scala"
What steps will reproduce the problem?
1. Run the following code in Scala's REPL:

[code]

What is the expected output?
A vector containing two strings.

What do you see instead?
The following error:

[code]

What version of the product are you using? On what operating system?

- RCaller-3.1-SNAPSHOT-jar-with-dependencies.jar
- Ubuntu 14.04.
- Scala version 2.11.7 (Java HotSpot(TM) 64-Bit Server V

[2016-08-31 12:53] #11 closed

[2016-09-05 09:06] HannaMielniczuk opened #13 "passing R objects of linear model"
My problem is Rcaller doesn't pass some R objects of linear model
Assume simple linear model :   Stay ~ Diet + Smoke + Diet:Smoke
The problem is to pass the dimension names in the matrix of coefficients (borders).

skrypt  R: (syntaks.txt)

BaseFrame=read.csv("DietSmoke.txt")
modd<-glm(Stay ~ Diet + Smoke + Diet:Smoke , BaseFrame , family = gaussian)
coeff=summary(modd)$coef
lista<-list(r1=coeff,r

[2016-09-05 10:56] jbytecode commented on #13
I think this is not a bug, and I post an answer to the stackoverflow post

[http://stackoverflow.com/questions/39307888/rcaller-how-to-pass-the-row-names-in-coefficients-matrix-in-linear-model/39329089#39329089](http://stackoverflow.com/questions/39307888/rcaller-how-to-pass-the-row-names-in-coefficients-matrix-in-linear-model/39329089#39329089)

If this helps please inform us so we will close thi

[2016-09-06 12:10] HannaMielniczuk commented on #13
Thank you. It works well for linear model with nominal variables and interactions, where dummy variables created by R. Not mentioned that Diet is nominal  (A, B, C).   I expect that this solution is valid wide class of models, multilevel Generalized Linear Models.The problem arose, because I never found the information that Rcaller pass to java, not all objects R, and only matrices and vectors.
Re

[2016-09-06 12:10] #13 closed

[2016-09-06 12:24] jbytecode commented on #13
you can accept the answer on the stackoverflow if it works for you.

[2016-09-07 20:23] HannaMielniczuk commented on #13
Your answer was very helpful. I accept with pleasure.

[2016-09-08 17:10] jbytecode commented on #13
Accept means "Accepting the answer as the right answer in stackoverflow", please.

Thank you.

[2016-09-16 16:59] d0dge opened #14 "Errors when running example code"
I'm trying to integrate RCaller into a project but get an exception whenever calling "caller.getParser()".

For example, running the "Example2" code from https://github.com/jbytecode/rcaller/blob/master/RCaller/src/main/java/examples/Example2.java gives the following exception:

[code]

I have RCaller 3.1 and R 3.3.1 installed.  What am I missing?

[2016-09-19 09:43] jbytecode commented on #14
Example2 runs and passes in the current configuration. I could not figure out the problem with your results.

[2016-10-14 07:40] fbastian opened #15 "Restore Thread interrupt flag after wait"
rcaller code makes the Thread to wait/sleep at some points (which is fine). The problem is that, if the Thread was interrupted, these methods throw an `InterruptedException`, which is caught and rethrown by rcaller without restoring the interrupted thread flag.

Example in rcaller 2.8: https://github.com/jbytecode/rcaller/blob/c586cb7c74d2e570d6b3ef242c8f3c1561cac49d/RCaller/src/main/java/com/gith

[2016-10-14 07:42] fbastian commented on #15
And also it would be good to formally provide the cause of the exception, not only in the message:

[code]

[2016-11-09 09:53] limhi opened #16 "DataFrame with path error in Windows"
in rcaller/RCaller/src/main/java/com/github/rcaller/rstuff/RCaller.java
L198
`process = exec(rCallerOptions.getrScriptExecutable() + " " + rSourceFile.toString());`

which generate temp csv file, and make R use `read.csv` to read csv file
windows's file path in R script  should be transfered
I got temp R script like
`D1 <- read.csv("C:\Users\Luke\AppData\Local\Temp\dataFrame1341473091585654957.csv

[2016-11-09 17:15] dieresys opened #17 "runAndReturnResultOnline doesn't detect when R has exited"
I was running some R code that makes R to halt and exit. Since my runner was instantiated with default values, `maxWaitTime` was equal to `Long.MAX_VALUE`. Therefore `runAndReturnResultOnline` never returned.

Example R code:
[code]

My proposal is to detect if the process has ended in the `runAndReturnResultOnline` loop.

[2016-11-21 12:28] #17 closed

[2016-11-22 01:12] #16 closed

[2016-12-08 22:26] wongjoel opened #20 "Broken Link to Official Publication?"
The Link to the official publication currently points to
'''
http://www.sciencedomain.org/download.php?f=Satman4152014BJMCS10902_1.pdf&aid=4838&type=a
'''
But this leads to a "Sorry file does not exist." error

I believe the correct link (well, at least one that should be more permanent) should be
'''
https://doi.org/10.9734/BJMCS/2014/10902
'''

Thanks for your work,

[2016-12-08 22:55] jbytecode commented on #20
Updated. Thank you!

[2016-12-08 23:33] wongjoel commented on #20
Thanks

[2016-12-08 23:33] #20 closed

[2016-12-08 23:53] wongjoel opened #21 "How to set path to R manually using script engine?"
As far as I understand, when trying to use `RCallerScriptEngine`, the location to the R executable is controlled by the value of `Globals.R_current`. I suggest that perhaps there could be a way to pass in the location of the R executable with a parameter instead of modifying the value of `Globals.R_current` directly to avoid the problem I describe below?

I am attempting to call an old version of

[2016-12-11 22:59] wongjoel opened #22 "NullPointerException on Windows if R not installed in C:\Program Files"
When running a 64-bit JVM on Windows, with only a 32-bit version of R installed, the R version detection code in Globals.java returns a null pointer exception in line 65. The following code seems to be the problem:

[code]
When called from a 64-bit JVM, `System.getenv("ProgramFiles");` returns "C:\Program Files", which is a problem when R is not installed under "C:\Program Files" (e.g. if R was in

[2016-12-11 23:00] wongjoel commented on #21
I think this issue would be solved if we could solve issue #22

[2016-12-11 23:00] #21 closed

[2016-12-14 09:39] thetg commented on #22
Hi,
I have a very similar problem.
My R is installed on another drive (E:).
When I try to run any example, the line
`RCaller caller = RCaller.create(); `
produces a NullPointerException at `Arrays.sort(rVersions);`
I tried to change the paths at the top of Globals.java manually, but it doesn't work.
Is there a proper way to tell RCaller where my R is located?
Any hint would be very appreciated.

[2016-12-14 14:03] paulcurcean commented on #22
I added now methods in `com.github.rcaller.util.Globals` for defining the paths. The changes are pushed, but not available as maven pacakge.

[2016-12-14 22:58] wongjoel commented on #22
Thanks for adding the methods in `com.github.rcaller.util.Globals` . I cloned the repo and built a local copy to test. Unfortunately, the static initialization block still runs and throws the mentioned `NullPointerException` before it is possible to call any of these methods, so the issue isn't resolved yet.

Personally, I would change the static initialization block into a static function to avoi

[2016-12-15 09:05] paulcurcean commented on #22
If you want, you can change the code as you wish and then make a pull request.
And if everything passes, I can merge it and after that publish a jar to maven. 3.0.1

[2016-12-15 11:19] paulcurcean commented on #22
I think that this issue can be closed now.

[2016-12-15 11:19] #22 closed

[2016-12-15 15:17] thetg opened #25 "New NullPointerException whith R installed on E:"
Hi,
I followed the discussion in _NullPointerException on Windows if R not installed in C:\Program Files #22_ closely as I had the same problem, and was very happy to see the fast presentation of a solution.
So I got the updated version, but unfortunately RCaller is still not working for me.
The simple code
[code]
gives the following Exception:
[code]
Interestingly, when I delete the `Globals.setR

[2016-12-16 15:42] paulcurcean commented on #25
Strange error you got there, it seems that there's a problem with the classLoader, because it's not able to find the needed resource.

Due to the fact that I'm not a Windows user and Jenkins is on Linux, I won't be able to reproduce your error.

Hopefully a Windows user will be able to help.

[2016-12-19 04:09] wongjoel commented on #25
I'm not sure how to reproduce the problem either. How are you adding RCaller to the classpath? And would it be possible for you to step through the code to determine which part of line 77 is returns null first?

[2016-12-19 12:09] thetg commented on #25
@wongjoel had the right idea and I could fix my mistake.
I created a new .jar with the updated Globals.class and missed to include "runiversal.r".
After creating the .jar properly it now works fine.
I'm happy that I now can start to explore RCaller.
Thank you so much for your answers.

[2016-12-19 12:09] #25 closed

[2017-01-25 16:46] ybjoony opened #26 "getting values as double matrix doesn't return correctly"
For example, 83:2 matrix from ets$states that had variables like

  l       b
4000 -48
4000 -48
... ...

83 rows
returns like this if I use getAsDoubleMatrix, which is not right.

4000 4000
4000 4000
4000 4000

.......

-48 -48
-48 -48

I can get around this by doing this manually:
`        double[]k = rc.getParser().getAsDoubleArray("states");
        System.out.println(k.length);
        int nro

[2017-03-24 14:07] #14 closed

[2017-03-24 14:07] paulcurcean commented on #15
You could implement it and then make a pull request.

[2017-03-24 14:10] paulcurcean commented on #26
If you have an idea about how to solve it, solve it and do a pull request. it will be appreciated!

[2017-04-27 06:13] holgerbrandl opened #28 "auto-detection of rscript/r should not override user settings"
This code looks valid to me but fails to run
[code]

The error is
[code]

The reasons seems that `com.github.rcaller.rstuff.RCallerOptions#create()` is overriding my custom settings by calling ` Globals.detect_current_rscript();` internally. The latter should check if the user has set own defaults before detecting R (which also lacks support for macos)

[2017-04-27 06:16] holgerbrandl commented on #28
The only possible workaround seems to call the full signature factory method manually (which seems tedious to me):
[code]

[2017-05-04 05:00] george-kakarontzas opened #29 "RCaller DataFrame fails when passing data to R in Windows OS"
Running the test class in https://github.com/jbytecode/rcaller/blob/master/RCaller/src/test/java/com/github/rcaller/datatypes/DataFrameTest.java in windows 10 fails in two tests as shown below. My best guess is that the way that the data frame data is transferred to R according to the manual (https://github.com/jbytecode/rcaller/blob/master/doc/rcaller3/rcaller3.pdf, page 6). There it mentions tha

[2017-08-03 16:31] benleblanket opened #30 "does not import R packages correctly"
I have been trying to use the 'semPlot' package within RCaller's functionality but I am receiving an error that there is no package called 'semPlot', leading to the error that 'semPaths' is an unknown function since 'semPlot' is not imported. I already have the package installed in R and functioning in RStudio. I transferred the code into RCaller to be used. Here is the code I came up with. I happ

[2017-08-03 22:30] jbytecode commented on #30
did you try this?

`code.addRCode("require('packagename')");`

[2017-08-04 13:51] benleblanket commented on #30
Yes I did try using that code right before the library call, right after the library call, and right before the startPlot (if the placement even mattered beyond placing it before the semPaths() call

[2018-01-10 12:48] bclarens opened #32 "Exception in thread "main" java.lang.ExceptionInInitializerError"
I keep getting this error
![image](https://user-images.githubusercontent.com/23650572/34773643-69863af4-f647-11e7-8191-62b335bb3509.png)
everytime I run the Main.java example found on the repo. A help would be great. Thanks!
Btw, I added the rcaller 3.1 snapshot jar in the libraries.

[2018-07-29 05:49] Georim opened #33 "Closing plot window closes parent application too."
Hello.
I generate plots using RCaller. The plots looks fine. But when user close plot window, parent window also getting close.
It seems to me, that parent window should not be close in the case.

I suppose that the reason of the behavior is

  public RPlotViewer(ImageIcon img) {
    this.img = img;
    this.setSize(img.getIconWidth() + 20, img.getIconHeight() + 60);
    **this.setDefaultCloseOper

[2018-07-30 11:57] jbytecode commented on #33
ok, done.
Thanks.

[2018-07-30 11:57] #33 closed

[2018-10-19 13:12] tomgrille commented on #32
You need to tell RCaller where your executables are. So add something like
[code]

[2018-10-22 10:12] tomgrille opened #34 "Problems with detection of R and with StopRCallerOnline()"
Hi,

my problem seems to be that my R installation, which is not located in C:\Program Files, is not recognized properly. I found a way to make RCaller work, defining the location of R via RCallerOptions, but now i can't terminate my R process anymore, as `StopRCallerOnline()` throws an exception.
So here are the details:

When I try to recreate an example  the line
`RCaller caller = RCaller.creat

[2020-09-10 19:38] jbytecode opened #42 "Manuscript submission"
Hi friends,

I have prepared a manuscript and submitted to Journal of Open Source Software that presents RCaller. Since you all have valuable contributions, the dear editor @mikldk kindly asked me to ask if you would like to participate in this article. Here is the pre-review link: [https://github.com/openjournals/joss-reviews/issues/2600](https://github.com/openjournals/joss-reviews/issues/2600)

[2020-09-11 00:32] wongjoel commented on #42
Well, my contributions were to help out with making the R path on Windows more flexible. I don't think that makes me a major committer, so I'm happy with just being in the Acknowledgement section.

[2020-09-11 05:22] ksfx commented on #42
I only made tiny contributions. I'm very happy with the Acknowledgement section

[2020-09-11 07:37] jbytecode commented on #42
@wongjoel @ksfx  okay, minor changes and contributions are still important and valuable, thank you. I am sorry for the belated invitation.

[2020-09-11 07:55] jbytecode commented on #32
@bclarens @tomgrille is this issue solved?

[2020-09-11 08:29] Kopilov commented on #42
I have added StopRCallerAsync method that allows to kill long or freezed calculation from separate thread (actually, for timeout feature asked by customer in my my project https://github.com/Kopilov/RCallerService)
In the process "TODO checking file length is wrong" had been fixed.

@jbytecode, would you like me to commit something to https://github.com/jbytecode/rcaller/tree/master/paper director

[2020-09-11 08:44] jbytecode commented on #42
@Kopilov Since you have contributions to RCaller, you have rights to be a co-author in the manuscript. If you want to be a part of this manuscript, you can make contributions to the md file in the repo and add your name. I can review your changes and try to bring it to the shape required by the journal. JOSS has a well-defined list of publishing rules, so you can carefully read it. The submitted p

[2020-09-11 08:48] jbytecode commented on #42
@Kopilov as an opinion, maybe you can refer to RCallerService, so we can show up that the RCaller is not just a stand-alone library, it is used in another libraries as a base.

[2020-09-11 09:05] jbytecode opened #43 "Contributions to manuscript prepared for JOSS"
We can discuss possible contributions to the manuscript here. @Kopilov will you participate? I can help to you if you have any confusions.

[2020-09-11 09:25] Kopilov commented on #43
@jbytecode I am ready, thanks!

At first, is orcid necessary to add me to the authors list? If yes, how can I get it?

My single scientific work is xAPI translation to russian (started as https://github.com/Kopilov/xAPI-Spec/blob/translate_ru/xAPI_ru.md, published as http://books.ifmo.ru/file/pdf/1772.pdf)

[2020-09-11 09:28] jbytecode commented on #43
Yes you can take a new researcher id. Please, open the page https://orcid.org/ and register.

No previous scientific work is required, you have contributions in RCaller, that is enough.

[2020-09-11 09:30] jbytecode commented on #42
We have a new issue here for possible questions and discussions for those who accept to participate.

[https://github.com/jbytecode/rcaller/issues/43](https://github.com/jbytecode/rcaller/issues/43)

[2020-09-11 10:17] Kopilov commented on #43
Commited to https://github.com/Kopilov/rcaller/blob/paper/paper/paper.md
The table is not displayed as a table anymore :(
My patch is https://github.com/Kopilov/rcaller/commit/a8a2cbbc4f03d6dfe3750577e7007377a524ab5b

[2020-09-11 10:20] Kopilov commented on #43
Nevertheless, what should be put in "affiliation" field?

[2020-09-11 10:25] jbytecode commented on #43
it is where you are working on.

you can edit like this:

authors:
  - name: Mehmet Hakan Satman
    orcid: 0000-0002-9402-1982
    affiliation: 1
  - name: Kopilov Aleksandr
    orcid: 0000-0002-8223-2168
    affiliation: 2
affiliations:
 - name: Department of Econometrics, Istanbul University
   index: 1
 - name: Where you work on
   index: 2

[2020-09-11 10:33] jbytecode commented on #43
and this is the md to pdf compiler, you can control your file here

[https://whedon.theoj.org/](https://whedon.theoj.org/)

[2020-09-11 10:59] jbytecode commented on #43
any problem?  @Kopilov

[2020-09-11 11:00] Kopilov commented on #43
@jbytecode just returned from lunch, will try now. Thanks!

[2020-09-11 11:09] jbytecode commented on #28
@holgerbrandl have you any solutions or pull requests for this?

[2020-09-11 11:18] jbytecode commented on #43
I have commented on your commits, have you seen them @Kopilov

[2020-09-11 11:25] Kopilov commented on #43
@jbytecode yes, thanks!
I have fixed the last paragraph, now will try to make correct reference by the bibtex file

[2020-09-11 11:36] jbytecode commented on #43
as a note for all contributers:

when a reference is used like [@SomeCitationsHereAsAKeyword] in md file, an entry should be placed like

@misc{SomeCitationsHereAsAKeyword,
      title        = "Pluto: The 'Other' Red Planet",
      author       = "{NASA}",
      howpublished = "\url{https://www.nasa.gov/nh/pluto-the-other-red-planet}",
      year         = 2015,
      note         = "Accessed: 20

[2020-09-11 12:02] jbytecode commented on #43
@Kopilov your changes seem to be okay, md file compiles perfectly. When you have done, you can submit a pull request.

[2020-09-11 21:36] jbytecode commented on #42
Unresponsive friends, come on, return a positive or negative answer. Let's stand on the shoulders of giants.

[2020-09-13 21:49] dieresys commented on #42
I only made tiny contributions. I'm very happy with the Acknowledgement section.
Thanks!

[2020-09-14 05:11] mbatchkarov commented on #42
Same

On Mon, 14 Sep 2020, 00:50 dieresys, <notifications@github.com> wrote:

[2020-09-15 09:31] jbytecode commented on #42
@waffle-iron @stevensotelo @gitter-badger @edineipiovesan

I apologize for bothering you over and over again, but it would be great if you could give an answer.

[2020-09-15 18:33] jbytecode commented on #42
@ sjcetx welcome to RCaller. Since you are a new contributor, please read the entire issue and give a response. Thank you in advance. If your answer is no, please write your name so we can put it in the Acknowledge section.

[2020-09-15 18:47] sjcetx commented on #42
As my contributions were minimal being in the acknowledgements is more than enough.
Thanks,
Simon Carter

[2020-09-15 18:51] jbytecode commented on #2
In MacOs, there is a problem about UTF8 tests. The error log is

`Running com.github.rcaller.UTF8Test

Tests run: 5, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.562 sec <<< FAILURE!

Utf8CharactersTest(com.github.rcaller.UTF8Test)  Time elapsed: 0.304 sec  <<< FAILURE!

java.lang.AssertionError:
	at org.junit.Assert.fail(Assert.java:91)
	at org.junit.Assert.assertTrue(Assert.java:43)
	at o

[2020-09-15 18:54] jbytecode commented on #42
okay, I added your name in the  acknowledgements part of manuscript @sjcetx . Keep with us.

[2020-09-15 19:16] jbytecode opened #48 "maven in Actions and submitting new version in the maven repo"
Hi all,

We have already CI integration so after each single commit we show up an image that indicates whether RCaller successfully compiles or not, in the README.md file.

Now, we need these:

- Can somebody setup a maven action in Actions section with all tests are passed?
- Can somebody submit the latest release into Maven repos?
- Can somebody setup a release tagger in Actions, so we can serve

[2020-09-15 19:19] jbytecode commented on #15
@fbastian  any help or improvements for this issue?

[2020-09-15 19:20] jbytecode commented on #26
@ybjoony any help or improvements for this?

[2020-09-15 19:21] jbytecode commented on #30
@benleblanket any improvements for this?

[2020-09-15 19:23] jbytecode commented on #48
@Kopilov Can you help with one of these topics?

[2020-09-15 19:25] jbytecode commented on #34
@tomgrille is this issue resolved or is there any code improvements for this?

[2020-09-16 10:15] Kopilov commented on #48
@jbytecode I will try little later.
I do not have any experience with GitHub Actions today (in our business we use GitLab CI with self-hosted GitLab server).
I am ready to learn how to use GitHub Actions to make our project better.

[2020-09-16 10:30] jbytecode commented on #48
Okay thank you in advance

[2020-09-18 06:58] holgerbrandl commented on #28
Not really. It's been quite a while since I was looking into the problem.

[2020-09-20 18:34] Kopilov commented on #48
Hello @jbytecode
I have some results but not everything is fine.

In [citest](https://github.com/Kopilov/rcaller/tree/citest) there are two simple workflows, for compile and for test. (As you said, our project have CI integration that indicates whether RCaller successfully compiles or not and it is marked as "build" on the [badge](https://api.travis-ci.org/jbytecode/rcaller.svg?branch=master), but

[2020-09-20 19:07] jbytecode commented on #48
Hi @Kopilov , thank you for your great effort. The test Utf8CharactersTest() is really problematic, it passes in my Linux machine however it fails in my mac os. The failure message starts with

Utf8CharactersTest(com.github.rcaller.UTF8Test)  Time elapsed: 0.282 sec  <<< FAILURE!
java.lang.AssertionError:
	at org.junit.Assert.fail(Assert.java:91)
	at org.junit.Assert.assertTrue(Assert.java:43)
	at

[2020-09-20 20:46] jbytecode commented on #48
any changes in this test is appreciated and is accepted. please prepare pull requests to handle this problem.

[2020-09-23 19:45] edineipiovesan commented on #42
I fixed some charset issues and added default path for R in macOS. Pretty tiny changes, so I'll be happy with the Acknowledgement section.
Thanks,
Edinei Piovesan

[2020-09-23 19:52] jbytecode commented on #42
thank you very much for being a part of the project

[2020-09-27 15:52] Kopilov commented on #48
So, as I wrote in another thread, Utf8CharactersTest actually depends on the current locale (LANG environment variable).
Docker-based example above is also not absolutely correct (it should have `ENV LANG=en_US.UTF-8` line together (or instead of) `RUN echo "LANG=en_US.UTF-8" > /etc/default/locale`). But by default in Docker we have LANG=POSIX, in GitHub Actions we have LANG=C.UTF-8.

Our test wor

[2020-09-27 17:24] jbytecode commented on #48
Hi @Kopilov ,

I use `ENV LANG=*` with many values including `en_US.UTF-8` but the problematic test still fails. The output of `locale` command is

`LANG="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_CTYPE="UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_ALL=
`

[2020-09-28 08:23] #42 closed

[2020-10-06 06:59] jbytecode commented on #43
@Kopilov  here is the review link of our paper

https://github.com/openjournals/joss-reviews/issues/2722

[2020-10-17 13:10] nthomasCUBE commented on #43
Hi,

I quess in the example from your manuscript, you have defined "en" but then use "engine" (e.g. engine.put("a",a)
like here:

		ScriptEngineManager manager=new ScriptEngineManager();
		ScriptEngine **en**=manager.getEngineByName("RCaller");

		System.out.println("JA");

		try {
			double[] a=new double[] {19.0, 17.0, 23.0};
			**en**.put("a",a);
			**en**.eval("sortedA <- sort(a)");
			double[

[2020-10-18 13:39] Kopilov commented on #48
Hi @jbytecode,
I have found main source of the problem with C.UTF-8. In RCaller.exec function we have value
`String localeAndCharset = join(".", Globals.standardLocale.toString(), Globals.standardCharset.toString());`
and Globals.standardLocale is `Locale.getDefault()`.
When system locale and LANG environment variable is `C.UTF-8`, Locale.getDefault().toString() returns `en`. It can be used for Ja

[2020-10-31 03:40] xin-huang opened #54 "[JOSS REVIEW] Suggestion for Software paper"
This is a part of the JOSS review (openjournals/joss-reviews#2722)

1. For the title, I suggest the authors add the version into the title as [their manual](https://github.com/jbytecode/rcaller/blob/master/doc/rcaller3/rcaller3.pdf), i.e. RCaller 3.0: A Java package for interfacing R
2. I feel the Summary section is more like a state of the field or introduction. I suggest the authors change this

[2020-10-31 04:27] xin-huang opened #55 "[JOSS REVIEW] Suggestion for Documentation"
This is a part of the JOSS review (openjournals/joss-reviews#2722)

1. It is not clear that who is the target audience, I suggest the authors make it clear as the review checklist suggests.
2. For the installation, the version of RCaller in the Maven dependency code in [the manual](https://raw.githubusercontent.com/jbytecode/rcaller/master/doc/rcaller3/rcaller3.pdf) is 3.0, whereas it is 2.8 in th

[2020-10-31 09:36] jbytecode commented on #55
Dear viewer @xin-huang

1. "Who uses RCaller?" section added in [README.md](https://github.com/jbytecode/rcaller#who-uses-rcaller)

2. Instructions for installing and building is added in [README.md](https://github.com/jbytecode/rcaller#building-and-installing-rcaller)

3. Dependencies section added in [README.md](https://github.com/jbytecode/rcaller#dependencies). RCaller compiles with JDK1.8 but

[2020-10-31 09:50] jbytecode commented on #55
Dear reviewer @xin-huang ,

Based on your comment

in JOSS review page, I regret to state that the code we used in the benchmark is not available. If you find it really necessary to present time consumed by the API, I can replicate the simulations using the data generating process given in the manual paper. However this may have time.

Regards.

[2020-10-31 10:44] jbytecode commented on #54
Dear reviewer @xin-huang ,

1. Title changed to "RCaller 3.0: A Java package for interfacing R"

2. Current Summary section renamed to "State of the field".

3. A refactored version of the summary of manual paper is used in the new Summary section.

4. New text added for "Target auidence" as in the README.md.

 Regards

[2020-10-31 17:19] xin-huang commented on #54
Thanks @jbytecode all changes look good

[2020-10-31 17:19] #54 closed

[2020-10-31 17:21] xin-huang commented on #55
Thanks @jbytecode
I think the changes in the documentation are good.
And please make your benchmark publicly available, then other people could reproduce your results.

[2020-10-31 18:32] jbytecode commented on #55
Dear reviewer @xin-huang ,

As in the described in the manual paper, I wrote the simulation code from scratch, it is in [PassingArraysAndMatrices.java](scratch). Since it is parameterized, any size of vector and squared matrices can be tested as in the manual and descriptive statistics are reported like

[code]

  The number of simulations and the number of vector sizes can be changed by the teste

[2020-10-31 20:39] xin-huang commented on #55
Hi @jbytecode

Because you already have the codes, I think you just highlight it in the README.md, for example, make a link in the README.md to these codes, and let others know if they want to check the performance, they can look at these codes. Thanks.

[2020-10-31 20:45] jbytecode commented on #55
Dear editor @xin-huang ,

This is mentioned in README.md file [here](https://github.com/jbytecode/rcaller/blob/master/README.md#benchmarks).

Regards.

[2020-10-31 20:53] xin-huang commented on #55
Thanks @jbytecode
It looks good

[2020-10-31 20:53] #55 closed

[2020-11-03 19:32] jbytecode commented on #48
@Kopilov have you got any experiences about deploying a jar onto maven central?

[2020-11-03 19:42] Kopilov commented on #48
Unfortunately, no.

I have a vacation from November 9 to November 22. May try to look about it in this period.

[2020-11-03 19:46] jbytecode commented on #48
sounds good, thank you.

[2020-11-04 19:16] jbytecode commented on #43
@Kopilov In the later stages of manuscript review, your city and country may be required. Please write here so I can add it if they asked me to add.

[2020-11-05 08:03] Kopilov commented on #43
@jbytecode My country is Russian Federation and city is Saint Petersburg

[2020-11-10 14:26] yassineaminTalan commented on #28
it worked for me with this line (if you are under linux) :
RCallerOptions options = RCallerOptions.create(Globals.RScript_Linux, Globals.R_Linux, FailurePolicy.RETRY_1, 3000l, 100l, RProcessStartUpOptions.create());

[2020-11-10 17:25] jbytecode commented on #43
@Kopilov the reviewing process has been finished. I am closing this issue. thank you!

[2020-11-10 17:25] #43 closed

[2020-11-17 19:02] Kopilov commented on #48
Hello @jbytecode!
I have successfully deployed my old project [Simple HTTP Client](https://github.com/Kopilov/simple-http-client) to start working with Maven Central. Also I have found old issue in Sonatype Jira about deploying your project by Paul Curcean https://issues.sonatype.org/browse/OSSRH-19298 (as I understand, he is owner of the staging repository in OSSRH at the moment). If you want me

[2020-11-17 20:16] jbytecode commented on #48
Hi @Kopilov,

Thank you for your great effort. However, Paul is not accessible at this time, we have to find a solution without a help from him. Addition to this, I grant you with any permission for the RCaller repository.

Best.

[2020-11-18 11:02] Kopilov commented on #48
@jbytecode [OSSRH-62097](https://issues.sonatype.org/browse/OSSRH-62097) is opened

[2020-11-18 17:46] jbytecode commented on #48
It seems it has been resolved!

[2020-11-18 19:47] Kopilov commented on #48
RCaller-3.0.2 is just published in Central!
(Version in Globals.java was not changed, sorry… had seen this too late)

[2020-11-18 19:50] jbytecode commented on #48
@Kopilov would you like to be granted in rcaller repository?

[2020-11-18 19:52] Kopilov commented on #48
Yes, it may be useful in future, thanks!

[2020-11-18 19:55] jbytecode commented on #48
@Kopilov you have been granted in the repository. please be careful in future operations.

[2020-11-18 20:11] Kopilov commented on #48
Thanks! I have added release commits and tagged RCaller-3.0.2 (that is mapped to Maven Central version and Snapshot removing made for it). But I noticed that there already are v3.0.2 and 3.0.3 tags. Should we remove them?

[2020-11-18 20:12] jbytecode commented on #48
up to you! feel free to have changes!

[2020-11-18 20:13] jbytecode commented on #48
RCaller is also your project

[2020-11-18 20:20] jbytecode commented on #48
is it the right time to close this issue? @Kopilov

[2020-11-18 20:30] Kopilov commented on #48
I do not know what a "release tagger" is and whether it it is necessary but at the moment we have made good job. Thank you for this great experience!

[2020-11-18 20:30] #48 closed

[2020-11-18 20:33] jbytecode commented on #48
Thank you for your great effort!

[2020-12-18 19:47] mullon-ch opened #57 "What happen with a syntactically wrong R command ?"
I am new to RCaller, which seems very powerful. When I run the MultipleCalls example, I have no problem. But if I change the syntax of a wrong command (resulting in an R error) for example   :  code.addRCode("result <- sdds(x)"), then the program seems to loop for a while, not taking account of the R generated error.

Thank you very much.

[2020-12-18 19:50] jbytecode commented on #57
thank you for the report. we didn't implement an error-handling mechanism yet. surely it can be done. we will hopefully implement it. any contributions are welcome, if there is any.

[2020-12-18 19:54] mullon-ch commented on #57
Thank you for this fast answer. I will have a look to the code.

[2021-04-05 14:38] mullon-ch opened #58 "Rcaller and concurrency"
I am trying to control the RCallerRunOnLine calls to rcaller and search the way to interrupt them when they result in too long computations. I am using the Java concurrent framework, which I don't know very well.

With the following program,

[code]

When I stop the R call,  I get errors such as :
java.lang.InterruptedException: sleep interrupted,
can not send the source  code to R file due to: ja

[2021-04-07 07:41] Kopilov commented on #58
Hello!
https://github.com/Kopilov/RCallerService project does exactly what you want. (I had made some patches in RCaller itself to add timeout support) You can use in as an example or as a solution. Or look the timeout unit test [here](https://github.com/jbytecode/rcaller/blob/f8e4145ac0fb11e73e0db88952f4af13368227af/RCaller/src/test/java/com/github/rcaller/RunOnlineTest.java#L179)

[2021-04-07 07:45] Kopilov commented on #58
Firts, try to change `StopRCallerOnline` with `stopRCallerAsync`

[2021-04-08 07:15] mullon-ch commented on #58
Thank you. I am in the RCalleService. It seems to answer my question. I will let you know. I find `stopRCallerSync` in the code, but I have no direct way to call it (in the Intellij framework); I should do changes in the Rcaller code, which I prefer not, at the present time; maybe this is because the method is deprecated.

[2021-04-08 07:15] #58 closed

[2021-04-08 08:51] Kopilov commented on #58
@mullon-ch are you using the latest (3.0.2) version of RCaller?
If yes, [stopRCallerAsync](https://github.com/jbytecode/rcaller/blob/f8e4145ac0fb11e73e0db88952f4af13368227af/RCaller/src/main/java/com/github/rcaller/rstuff/RCaller.java#L465) method should be available, as well as [stopRCallerOnline](https://github.com/jbytecode/rcaller/blob/f8e4145ac0fb11e73e0db88952f4af13368227af/RCaller/src/main/

[2021-04-09 16:58] mullon-ch commented on #58
Dear Alexandr,

 t
Thank you very much for your support and your explanations. It is very
clear now and I have almost completed my code; the problems I still have
are due to the subtilities of javafx.

Cheers

Christian

Le jeu. 8 avr. 2021 à 10:51, Kopilov Aleksandr ***@***.***> a
écrit :

[2021-04-20 23:30] heebtob opened #59 "Faster Data Transfer"
The current Data Transfer over Files is very slow and error prone. Especially when there is no efficient signaling mechanism used.
XML as a dataformat is also not ideal for big data due to size overhead and the De-/Serialization time needed.

One of the fastet or maybe the fastet way to do local IPC is over Shared Memory.
It should be very easy to understand because RAM is much faster than a hard

[2021-04-21 05:57] jbytecode commented on #59
Hi @heebtob ,

Well, nice idea. RCaller is quite old and XML was the de facto standard for sharing data between platforms (back to early 2010s).

RCallerOnline type interactions are streamed between running processes, so I think it is fast enough by means of transferring data. However, as you say, XML is expensive in both parsing and transporting.

Please let me correct, is IPC platform independen

[2021-04-21 08:05] Kopilov commented on #59
Hello friends,

My employer is going to make a new forecast system with compounding several programming languages (such as Java/Kotlin — as a kernel structure, R, Matlab and may be others — as data processing functions). We are going to use [Apache Arrow](https://arrow.apache.org/) as main IPC format. Some designing for kernel and Matlab driver was already made but now another project became more

[2021-04-21 08:07] jbytecode commented on #59
@Kopilov many thanks for your reply.
@heebtob have you got time to start a new branch with improvements and possibly a new version? we can discuss the details in each step.

[2021-05-24 13:12] Kopilov commented on #59
Hi @jbytecode ,
I have started working on this issue. I also suggest:

- use Java 11 by default (Java 8 package can be built separately or disabled);
- switch from Maven to Gradle.

Do you approve these points?

[2021-05-24 16:03] jbytecode commented on #59
Hi @Kopilov

- Nowadays, the version 11 is the new default, we can upgrade the minimum JDK requirement to 11 if we use any version specific things in RCaller. Do we?
- I am against canceling the build tool and a sharp shift. Can we still support Maven?

[2021-05-25 07:17] Kopilov commented on #59
We do not today, but we can use something modern and comfortable. I have been using Kotlin last several years, it is much more concise than Java 6-8. Some similar features can be found in Java 11, bay be. I do not want to make RCaller Kotlin-dependent, but I want to learn and use new trends in Java.

Yes we can. However Gradle configuration also is more concise. And using Gradle as a build tool st

[2021-05-25 10:07] jbytecode commented on #59
- okay, please add Gradle support, but Maven xml can be still current.
- we can increment the minimum JDK requirement whenever we use JDK 11 dependent future in RCaller.

do you agree with these results?

[2021-05-25 10:55] Kopilov commented on #59
@jbytecode yes, sure

[2021-05-27 10:34] jbytecode opened #60 "JVM languages"
I created a folder and started to give some examples on using RCaller in other JVM languages (The first example is in Clojure). We can add some usage examples and code snippets about the other JVM languages including Scala and Kotlin.

I also added a link in README.md section to this documentation.

Here is the example: [RCaller and Clojure](https://github.com/jbytecode/rcaller/blob/master/markdow

[2021-05-27 10:56] Kopilov commented on #60
@jbytecode Thanks!

In new version I converted public `ROutputParser` class to interface (may be you can find more backward compatible way for adding new implementation), look [this commit](https://github.com/Kopilov/rcaller/commit/dce1e81c1d8a5aefafe03550f1ffe870dc96aab7). Other changes (expecting JVM 11) should be still compatible.

[2021-05-27 11:03] jbytecode commented on #60
many thanks.

maybe, this can be carried on an other issue @Kopilov

[2021-06-03 05:47] jbytecode commented on #59
Hi @Kopilov

I see you are working hard on the new data transfer mechanism. When will you prepare a pull request for this future?
The most important issue: Do we have any serious performance gains?

Thank you in advance.

[2021-06-03 07:38] Kopilov commented on #59
Hi @jbytecode

I will pause my work for two weeks vacation (from June 7 to June 20). Tomorrow I can PR current state as is and will try to fix as many unit tests with new data transfer as I can in these two days. Just now 14 of them are still not working.

And I still had not tested the performance. In project we have `benchmark` package made by you, may be, it can be used.

[2021-06-03 15:39] Kopilov commented on #59
@jbytecode PR https://github.com/jbytecode/rcaller/pull/61 is opened
@heebtob check the performance in your case, please

[2021-06-03 15:42] Kopilov commented on #59
@heebtob notice that the library is not released yet, you should build SNAPSHOT version yourself and add optional dependencies (Apache Arrow) as described in the PR #61 .

[2021-06-03 16:01] heebtob commented on #59
@Kopilov Many thanks for your contribution!

I'll try to organize some performance test. I don't know if it's possible during your vacation.

I saw that a Unit Test regarding Matrices is failing. I think that the Unit Test has a bug and it should be the way Apache Arrow does it. I noticed this bug a long time ago. After transferring the matrix it was transposed for no reason.

Have a nice holiday!

[2021-06-04 07:13] jbytecode commented on #59
@Kopilov thank you for your great effort.
I will have a look at the new functionality whenever I have time.

[2021-06-08 11:44] VineelaKantamneni opened #62 "How to call R code from Java using Rcaller method in CentOs8 ?"
Please explain me with a very simple example how to run R form java using Rcaller ?

[2021-06-09 07:52] jbytecode commented on #62
@VineelaKantamneni
you can have a look at the test here: https://github.com/jbytecode/rcaller/blob/master/RCaller/src/test/java/com/github/rcaller/RCallerTest.java

You can also follow the journal paper here: https://joss.theoj.org/papers/10.21105/joss.02722

[2021-06-09 07:52] #62 closed

[2021-06-09 12:01] VineelaKantamneni opened #63 "Getting java.lang.NullPointerException though I have data ?"
Please help me out to solve it

[2021-06-10 06:36] VineelaKantamneni opened #64 "How to run "runAndReturnResult" multiple times in Java ?"
![Screenshot from 2021-06-10 11-59-44](https://user-images.githubusercontent.com/74599304/121476088-de57fe80-c9e3-11eb-9a71-6188086adf41.png)

Above is my java code as I am getting values from dataframe to a variable and getting it's values.So,I need to use the command "runAndReturnResult" multiple times.  While doing this I am getting below error.

0 = 2356040.74911315
1 = 2506554.65816997
2 = 23

[2021-06-10 06:38] #63 closed

[2021-06-10 10:14] jbytecode commented on #64
Since you are not reporting a bug, this is not a real issue so it is better to use some forums such like Stackoverflow.

[2021-06-10 10:14] #64 closed

[2021-07-24 10:31] Kopilov commented on #59
Hello guys,
I have passed the original benchmark with parameters `VectorSize = 20000` and `SimCount = 100` on my Linux laptop.

Results with original (XML) data transferring:
Min | Max | Median
------|-------|--------
1786|2401|1942

Results with new (Arrow) data transferring:
Min | Max | Median
------|-------|--------
443|1323|468

@heebtob do you have any statistics?

@jbytecode can we close thi

[2021-07-24 10:40] jbytecode commented on #59
@Kopilov thank you for your great effort.
ofcourse we can now close the issue.

[2021-07-24 10:41] #59 closed

[2021-08-11 19:52] Kopilov commented on #57
Hello,

I have made [the improvement](https://github.com/jbytecode/rcaller/commit/d8b2f6ea36e9ce1084ad930928530aa70b110e1a) in errors handling that allows you to check runtime errors. Now if error is raised in R, it would be thrown to your Java application.

It can be made optional, especially if execution would be slower now (I will test this later).

But another problem still exists. If your cod

[2021-08-12 16:55] Kopilov commented on #26
Fixed in version 4.0.0

[2021-08-12 17:15] Kopilov commented on #57
Added as optional behavior in version 4.0.0

Old behavior is left as default, for backward compatibility and faster executing. The benchmark showed that with VectorSize = 2 median time is 20 ms without tryCatch and 40 ms with tryCatch. With VectorSize = 20000 tryCatch raised median time from 460 ms to 610.

Use `RCaller.runAndReturnResultOnline(String var, boolean addTryCatch)` with addTryCatch =

[2021-08-12 17:15] #57 closed

[2021-08-13 12:08] mullon-ch commented on #57
Dear Alexandr,

Thank you very much for this improvement. In the next few days, I
will implement this new version of RCaller and have a look at your code. I
will stay in contact with you.

All the best

Christian

Le mer. 11 août 2021 à 21:53, Kopilov Aleksandr ***@***.***>
a écrit :

[2021-08-13 15:01] Kopilov commented on #59
@heebtob added to the release, enjoy!

[2021-08-13 19:56] jbytecode commented on #2
thank you @Kopilov , will try later.

[2021-08-16 08:15] jbytecode commented on #2
@Kopilov when arrow is enabled, tests are not passed with message

`java.lang.NoClassDefFoundError: Could not initialize class org.apache.arrow.memory.util.MemoryUtil`

using maven. what is the problem with this?

[2021-08-16 08:34] Kopilov commented on #2
@jbytecode if you are running tests as tests (in the corresponding scope), it should work (if classloading is not broken in MacOS again) and works for me. My `mvn --version` is
[code]

If you are running test as a regular main function (such as benchmark), remove `<scope>test</scope>` and `<scope>provided</scope>` tags from the pom file or use separate project/module. Scope tags were added for the

[2021-08-16 08:39] Kopilov commented on #2
If anything has happened with transitive dependencies loading, try to add https://mvnrepository.com/artifact/org.apache.arrow/arrow-memory-core/5.0.0 directly, it contains the problematic class

[2021-08-16 12:16] Kopilov commented on #2
@jbytecode if the error is reasoned by class initializing itself and not by finding, try to replace arrow-memory-netty dependency (which is also an optional implementation) with https://mvnrepository.com/artifact/org.apache.arrow/arrow-memory-unsafe/5.0.0

[2021-08-16 12:23] jbytecode commented on #2
couldn't it be implemented in such way that we can simply do mvn test?

[2021-08-16 12:40] Kopilov commented on #2
`mvn test` should work, without any changes. If it does not, please, show me the full `mvn test` and `mvn --version` output.

Here is mine: https://gist.github.com/Kopilov/2bf2de45b946091656ce200d39473291 (I have added some trace output to clarify that Arrow is used)

[2021-08-16 12:52] Kopilov commented on #2
@jbytecode is NoClassDefFoundError throwed on MacOS only?

[2021-08-16 17:58] jbytecode commented on #2
@Kopilov didnt try in linux yet

[2021-08-26 12:25] jbytecode opened #65 "Can't get RCaller to work, get error on line caller.runAndReturnResult"
This is a stackoverflow problem addressed in

https://stackoverflow.com/questions/68927021/cant-get-rcaller-to-work-get-error-on-line-caller-runandreturnresult

and maybe we can track the roots of the error and help them to fix.

[2021-08-26 17:08] #65 closed, assigned to nobody

[2021-11-29 10:49] mullon-ch opened #66 "RCaller, parser and R version 4"
I am using RCaller and get results as a xml file with parser.getXMLFile. It was used to work fine. I have updated RCaller version 4.0.2 and it is still working. For one of my colleagues using  R version 4, it appears that instruction parser.getXMLFile() returns null. I have noticed that this command is deprecated. I would like to know if this this issue has been noticed? And if there is is an exam

[2021-11-30 08:38] jbytecode commented on #66
- @mullon-ch Thank you for your interest on RCaller, we are going to resolve this question.
- @Kopilov would you be willing to handle this issue?

[2021-12-01 13:14] mullon-ch commented on #66
Dear Alexandr,

thank you for your fast reaction; I have developed my code on a Mac os
10.15.7 (catalina).  I was using R version 3.7. I have created executables
for mac os, linux and windows, and they were working.

Recently, one of my colleagues has tried to use the program with a Mac
Book Pro M1, mac os Monterey, and R Version 4.0.2 and he got an error
message; after some diagnostics, I identif

[2021-12-08 09:46] mullon-ch commented on #66
Hi,

The issue I was mentioning has been solved.  It has nothing to do with
RCaller. It comes from the use of R on a Mac with a M1 chip. A specific
version of R.1.2 has to be used. I am sorry for the alarm and I thank you
for your fast reaction.

All the best

Christian

Le mar. 30 nov. 2021 à 09:38, Mehmet Hakan Satman ***@***.***>
a écrit :

[2021-12-08 10:40] Kopilov commented on #66
@mullon-ch Thank you for mentioning.

What about alternative IO examples, I can only show you raw R code snippet that is used in my last R-relatived project. Sharing the whole project is not approved by the customer and employer and I do not have enough time to make good complete example.
Look here https://gist.github.com/Kopilov/5f0e7b66f1da6bbc9ed3e0f818b6ab90
This code is used together with [RC

[2021-12-08 10:40] #66 closed

[2021-12-08 10:53] Kopilov commented on #66
It should be "quite convenient to deal with different types of R output (strings, arrays of strings, tables)" but you have to read Apache Arrow output manually in JVM space